@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenLayout class="rz-shadow-3">
    <RadzenHeader>
        <div class="row">
            <div class="col-8 d-flex align-items-center">
                <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                <label class="col">Quản lý hụi</label>
            </div>
            <div class="col-4 px-4 d-flex align-items-center">
                <h5><label>Chủ hụi: XXXXX - SDT: 000 000 000</label></h5>
            </div>
        </div>

    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded" Style="width:200px">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Quản lý Dây Hụi" Icon="view_list" Path="/TimKiemDayHui" />
            <RadzenPanelMenuItem Text="Quản lý Hụi Viên" Icon="group" Path="/TimKiemHuiVien" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        @Body
    </RadzenBody>
    <RadzenFooter></RadzenFooter>
</RadzenLayout>

@code {
    bool sidebarExpanded = false;
   
}